.container {
    background-color: rgb(226, 226, 226);
    padding-bottom: 1em;
}

.header {
    background-color: #3c4a60;
    padding-top: 0em;
    padding-bottom: 0em;
    border: solid;
    border-color: #a0aec4;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: white;
    padding-left: 1em;
    margin: 0;
}

.header-logo:hover, .header-dots:hover {
    color: #a0aec4;
}

.header-items {
    display: flex;
}

.header-item {
    display:none;
}

.header-dots {
    display: flex;
    padding-right: 1.5em;
    color:white;
}

.banner {
    background-color: dimgrey;
}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 100%;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 1em;
    background-color: white;
    height:100%;
}

.title {
    text-align: center;
}

.sub-title {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #a0aec4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

.form {
    margin-left: 1em;
    margin-right: 1em;
    background-color: grey;
}

.input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.input-no-hover {
    text-align:center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.input:hover {
    background-color: rgb(180, 180, 180);
}

.input-label {
    color: white;
    font-size: medium;
    padding-right: 1em;
}

.input input:focus {
    background-color: antiquewhite;
}

.symptom {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 1em;
    padding-bottom: 1em;
}

.symptom:hover {
    background-color: rgb(209, 208, 208);
}

.symptom-label {
    text-align: left;
}

.exposure-title {
    font-size: larger;
    margin-left: 1em;
}

.exposure-content {
    margin-left: 1em;
    margin-bottom: 1em;
}

#map {
    height: 40vh;
    margin: 1em;
    min-width: 10vh;
}

#submit-button {
    background-color: #e98b10;
    border: none;
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 40px;
}

#submit-button:hover {
    background-color: #eec48e;
}


a {
    color: inherit;
    text-decoration: inherit; 
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid rgb(226, 226, 226);
}
